# ignore backup dir
backup/
# ignore fpc makefiles
Makefile
Makefile.fpc
Makefile.fpcxxx
# ignore build dir
units/
component/lib/
component/indiclient/lib/
component/synapse/source/lib/lib/
component/uniqueinstance/lib/
eqmodgui.lps
# ignore binary
eqmodgui
eqmodgui.dbg
eqmodgui*.dmg
eqmodgui*.rpm
eqmodgui*.deb
eqmodgui*.tar.xz
eqmodgui*.tar.bz2
